<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.miguel.sports">

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher_sports"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity android:name=".Query">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".sportsActivities.BasketballActivity"
        android:label="@string/basketball_matches" />

    <activity
        android:name=".sportsActivities.FootballActivity"
        android:label="@string/football_matches" />

    <activity
        android:name=".sportsActivities.TennisActivity"
        android:label="@string/tennis_matches" />
</application>

</manifest>